{%extends 'base.html'%}
{%load static%}
{%block title%}Karl - Fashion Ecommerce | Details{%endblock%}
{%block content%}
<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
        <div class="breadcumb_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Dresses</a></li>
                            <li class="breadcrumb-item active">Long Dress</li>
                        </ol>
                        <!-- btn -->
                        <a href="#" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
        <section class="single_product_details_area section_padding_0_100">
            <div class="container">
                <div class="row">
                    
                    <div class="col-12 col-md-6">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{item.image.url}});">
                                    </li>
                                    {%for image in images%}
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({{image.images.url}});">
                                    </li>
                                    {%endfor%}
                                </ol>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="{{item.image.url}}">
                                        <img class="d-block w-100" src="{{item.image.url}}" alt="First slide">
                                    </a>
                                    </div>
                                    {%for image in images%}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{image.images.url}}">
                                        <img class="d-block w-100" src="{{image.images.url}}" alt="Second slide">
                                    </a>
                                    </div>
                                    {%endfor%}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-6">
                        <div class="single_product_desc">

                            <h4 class="title"><a href="#">{{item.name}}</a></h4>

                            <h4 class="price">$ {{item.price}}</h4>

                            <p class="available">Available: <span class="text-muted">In Stock</span></p>

                            <div class="single_product_ratings mb-15">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>                    
                            <div class="widget size mb-50">
                                <h6 class="widget-title">Size</h6>
                                <div class="widget-desc">
                                    <ul>
                                        {% for item in sizeq %}
                                        <li><a href="#">{{item.size}}</a></li>
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>
                    
                            <!-- Add to Cart Form --> 
                            <form class="cart clearfix mb-50 d-flex" method="" onsubmit="return false;">                              
                                <div class="quantity">
                                    <span class="qty-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">
                                    <span class="qty-plus" ><i class="fa fa-plus" aria-hidden="true"></i></span>                                    
                                </div>
                                
                                {% if in_cart %}                                
                                <button type="submit" name="removecart" value="5" class="btn btn-danger d-block" onclick="location.href='{% url 'remove_cart' item.id %}';">Remove from Cart</button>
                                {% else %}
                                <button type="submit" id="addcart" name="addtocart" value="5" class="btn cart-submit d-block">Add to cart</button>
                                <button style="display: none !important;" type="submit" name="addtocart" value="5" id="addedcart" class="btn-danger d-block" onclick="location.href='{% url 'remove_cart' item.id %}';">Remove from Cart</button>
                                {%endif%}
                               
                            </form> 
                                                
                            <p hidden class="product_id">{{item.id}}</p>                            
                            <div id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h6 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Information</a>
                                        </h6>
                                    </div>

                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>{{item.information}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Cart Details</a>
                                        </h6>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos nemo, nulla quaerat. Quibusdam non, eos, voluptatem reprehenderit hic nam! Laboriosam, sapiente! Praesentium.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magnam laborum eaque.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">shipping &amp; Returns</a>
                                        </h6>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint repudiandae suscipit ab soluta delectus voluptate, vero vitae, tempore maxime rerum iste dolorem mollitia perferendis distinctio. Quibusdam laboriosam rerum distinctio. Repudiandae fugit odit, sequi id!</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae qui maxime consequatur laudantium temporibus ad et. A optio inventore deleniti ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->
        <!-- ****** Quick View Modal Area Start ****** -->  
        {%for product in related%}
        {% include 'modal.html'%}
        {%endfor%}
        <!-- ****** Quick View Modal Area End ****** -->

        <section class="you_may_like_area clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_heading text-center">
                            <h2>related Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="you_make_like_slider owl-carousel">
                            {%for product in related%}
                            <!-- Single gallery Item -->
                            
                            <div class="single_gallery_item">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{product.image.url}}" alt="">
                                    <div class="product-quicview">
                                        <a href="#" data-toggle="modal" data-target="#quickview-{{forloop.counter}}"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <h4 class="product-price">${{product.price}}</h4>
                                    <p>{{product.name}}</p>
                                    <!-- Add to Cart -->
                                    <a href="{%url 'details' product.id%}" class="add-to-cart-btn">VIEW DETAILS</a>
                                </div>
                            </div>
                           
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{item.main_category}}
        {{size}}

        <script type="text/javascript" src="{% static 'cart.js' %}"></script>
        <!-- <script type="text/javascript" src="{% static 'modalCart.js' %}"></script> -->
        {%endblock%}

         